[submodule "bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "home/.vim/bundle"]
	path = home/.vim/bundle
	url = https://github.com/gmarik/vundle.git
